<section class="section-sale">
  <div class="session-content">
    <div class="session-wrapper">
      <form>
        <div class="text-xs-center pb-1">
          <p class="text-signin" fxLayout="column">Customer Detail</p>
        </div>
        <div fxLayout="column" fxLayoutGap="30px">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Customer Name" name="custName">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Address Line 1" name="custName">
          </mat-form-field>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field fxFlex="32%" appearance="outline">
              <mat-label>City</mat-label>
              <input matInput placeholder="City" name="city">
            </mat-form-field>
            <mat-form-field fxFlex="32%" appearance="outline">
              <mat-label>State</mat-label>
              <input matInput placeholder="State" name="state">
            </mat-form-field>
            <mat-form-field fxFlex="32%" appearance="outline">
              <mat-label>Zip</mat-label>
              <input matInput placeholder="Zip" name="zip">
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Residence Phone</mat-label>
            <input matInput placeholder="Residence Phone" name="rPhone">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Buisness Phone</mat-label>
            <input matInput placeholder="Buisness Phone" name="bPhone">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Salesperson Name</mat-label>
            <input matInput placeholder="Salesperson Name" name="salesPersonName">
          </mat-form-field>
        </div>
        <br>
      </form>
    </div>
  </div>
</section>