<section class="section-sale">
  <div class="session-content">
    <div class="session-wrapper">
      <form>
        <div class="text-xs-center pb-1">
          <p class="text-signin" fxLayout="column">About Vehicle Being Traded In (Trade In) </p>
        </div>
        <div fxLayout="column" fxLayoutGap="30px">
          <mat-form-field appearance="outline">
            <mat-label>Year</mat-label>
            <input matInput placeholder="Year" name="year">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Make</mat-label>
            <input matInput placeholder="Make" name="make">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Model/Series</mat-label>
            <input matInput placeholder="Model/Series" name="model">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Color</mat-label>
            <input matInput placeholder="Color" name="color">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>VIN</mat-label>
            <input matInput placeholder="VIN" name="vin">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Lien Holder</mat-label>
            <input matInput placeholder="Lien Holder" name="lien">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Address" name="address">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Account #</mat-label>
            <input matInput placeholder="Account #" name="account">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Estimated Amount Owed</mat-label>
            <input matInput placeholder="Estimated Amount Owed" name="amt">
          </mat-form-field>
        </div>
        <br>
      </form>
    </div>
  </div>
</section>