<section class="section-dashboard">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  <section class="content">
    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
        <mat-card class="card-widget mat-teal">
          <div mat-card-widget>
            <div mat-card-float-icon>
              <mat-icon>local_offer</mat-icon>
            </div>
            <div class="pl-0">
              <h2 mat-card-widget-title>103</h2>
              <p>Campaigns</p>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
        <mat-card class="card-widget mat-purple">
          <div mat-card-widget>
            <div mat-card-float-icon>
              <mat-icon>phone</mat-icon>
            </div>
            <div class="pl-0">
              <h2 mat-card-widget-title>230</h2>
              <p>Customers</p>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
        <mat-card class="card-widget mat-red">
          <div mat-card-widget>
            <div mat-card-float-icon>
              <mat-icon>notifications</mat-icon>
            </div>
            <div class="pl-0">
              <h2 mat-card-widget-title>323</h2>
              <p>Queries</p>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
        <mat-card class="card-widget mat-indigo">
          <div mat-card-widget>
            <div mat-card-float-icon>
              <mat-icon>email</mat-icon>
            </div>
            <div class="pl-0">
              <h2 mat-card-widget-title>870</h2>
              <p>Opens</p>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div fxLayout="row wrap" class="foster-dashboard" *ngIf="loaded">
      <div *ngIf="!setupDone" fxFlex.gt-sm="50%" fxFlex="100">
        <mat-card>
          <ng-container *ngIf="showStepProfile">
            <app-profile [(user)]="user" (pubSub)="subscribeProfile($event)"></app-profile>
          </ng-container>
          <ng-container *ngIf="showStepFamily && !showSetupcoparent">
            <app-family (pubSub)="subscribeFamily($event)" [lastName]="user.nameL"></app-family>
          </ng-container>
          <ng-container *ngIf="showStepChild && !showSetupcoparent">
            <app-child (pubSub)="subscribeChild($event)"></app-child>
          </ng-container>
        </mat-card>
      </div>
    </div>
  </section>
</section>