<section class="section-sale">
  <div class="session-content">
    <div class="session-wrapper">
      <form>
        <div class="text-xs-center pb-1">
          <p class="text-signin" fxLayout="column">Vehicle Detail</p>
        </div>
        <div fxLayout="column" fxLayoutGap="30px">
          <div>
            <mat-form-field style="width: 100%" appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field style="width: 100%" appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput [type]="'text'">
            </mat-form-field>
          </div>
        </div>
        <br>
      </form>
    </div>
  </div>
</section>