<section class="section-note">
    <ion-header [translucent]="true">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>Note</ion-title>
            <ion-buttons slot="end">
                <ion-button (click)="addNote()">
                    <ion-icon name="add-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <section class="content">
        <ion-list>
        <ion-item *ngFor="let note of noteList; let i = index" class="item md in-list ion-focusable hydrated item-label">
            <ion-avatar slot="start" class="md hydrated">
                <img onerror="this.src = '../../../../assets/icon/user.svg'" 
                src="{{getSrc(note?.childSfid)}}">
            </ion-avatar>
            <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
                <h2>{{note.name}}</h2>
                <h3>{{note.date | date}}</h3>
                <p>{{note.note}}</p>
            </ion-label>
        </ion-item>
        </ion-list>
        <!-- <mat-list-item *ngFor="let note of noteList; let i = index">
            <div fxLayout="row" fxLayoutAlign="start center">
                <img onerror="this.style.display='none'" src="{{url}}MEMO/{{note.memoId}}">
                <div fxLayout="column">
                    <div mat-line>{{note.name}}</div>
                    <div mat-line> {{note.date | date}} </div>
                </div>
                <mat-divider></mat-divider>
            </div>
        </mat-list-item> -->
    </section>
</section>