.section-note {
  margin-top: 50px;
  overflow-y: auto;
  ion-header {
    position: fixed;
    top: 0;
  }
  .content {
    padding: 0 10px;
  }
}

.mat-option,
mat-chip {
  img {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }
}

mat-chip {
    height: auto; // overrides default height 1px
}
