<section class="section-note">
    <ion-header [translucent]="true">
        <ion-toolbar [hidden]="!showSectionNote">
            <ion-buttons slot="start">
                <ion-button (click)="showNote()">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                </ion-button>
                <ion-button (click)="saveMemo()">
                    <ion-icon name="checkmark-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="addTag()">
                    <ion-icon name="pricetag-outline"></ion-icon>
                </ion-button>
                <ion-button (click)="addChild()">
                    <ion-icon name="person-add-outline"></ion-icon>
                </ion-button>
                <input (change)="selectFile($event)" type="file" hidden #img />
                <ion-button (click)="img.click()">
                    <mat-icon>insert_photo</mat-icon>
                </ion-button>
                <ion-button>
                    <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
        <ion-toolbar [hidden]="!showSectionChild">
            <ion-buttons slot="start">
                <ion-button (click)="removeChild()">
                    Cancel
                </ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="addNote()">
                    Done
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
        <ion-toolbar [hidden]="!showSectionTag">
            <ion-buttons slot="start">
                <ion-button (click)="removeTag()">
                    Cancel
                </ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="addNote()">
                    Done
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <section class="content">
        <form class="form-edit-note" fxLayout="column" [formGroup]="memoForm">
            <div [hidden]="!showSectionNote" fxLayout="column">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Subject" [formControl]="memoForm.controls['name']">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <textarea matInput [formControl]="memoForm.controls['note']" placeholder="Note" rows="6"></textarea>
                </mat-form-field>
            </div>
            <mat-form-field fxLayout="column" [hidden]="!showSectionChild" class="child-note example-full-width">
                <mat-chip-list #chipList>
                    <mat-chip *ngIf="memoForm.value.child?.nameF" [selectable]="selectable" [removable]="true"
                        (removed)="remove(memoForm.value.child)">
                        <img class="message-icon mr-1 hide-on-open" src="{{url}}CHILD/{{memoForm.value.child?.childId}}"
                            alt="">
                        {{memoForm.value.child?.nameF}} {{memoForm.value.child?.nameL}}
                        <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                    </mat-chip>
                    <input type="text" placeholder="Children Mentioned" aria-label="Child's" matInput
                        (input)="filterChild($event.target.value)" [formControl]="memoForm.controls['child']"
                        [matAutocomplete]="auto" [matChipInputFor]="chipList" />
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let option of filterChildList" [value]="option">
                            <img class="message-icon mr-1 hide-on-open" src="{{url}}CHILD/{{option.childId}}">
                            {{option.nameF }} {{option.nameL}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-chip-list>
            </mat-form-field>
            <div [hidden]="!showSectionTag" fxLayout="column">
                <div *ngFor="let item of memoCategory">
                    <strong>{{item.value}}</strong><br><br>
                    <mat-chip-list multiple id="chipList" [selectable]="true">
                        <mat-chip (click)="toggleChip(sub.value)" [selected]="chips.has(sub.value)"
                            *ngFor="let sub of item.list">
                            {{sub.value}}
                        </mat-chip>
                    </mat-chip-list>
                    <br><br>
                </div>
            </div>
        </form>
    </section>
</section>