<section class="section-sale">
  <div class="session-content">
    <div class="session-wrapper">
      <form>
        <div class="text-xs-center pb-1">
          <p class="text-signin" fxLayout="column">Factory Options</p>
        </div>
        <div fxLayout="column" fxLayoutGap="30px">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Enter Here ...</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>
        <br>
      </form>
    </div>
  </div>
</section>